<!DOCTYPE html>
<!-- Template by html.am -->
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>2 Column Layout &mdash; Left Menu with Header &amp; Footer</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>

<header id="header">
    <div class="innertube">
        <h1>Java Learn</h1>
        <a class="logout" href="javascript: document.logoutForm.submit()" role="menuitem"> <img class="logout" th:src="@{~/img/logout.png}" alt="Logout"></a>

        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input hidden type="submit" value="Sign Out"/>
        </form>
    </div>
</header>

</body>
</html>